src/main/resources/xsd/patients.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://atria.cz/medical/integration/patient/"
           elementFormDefault="qualified" targetNamespace="http://atria.cz/medical/integration/patient/" version="1.0">

    <xs:complexType name="xPatientCard">
        <xs:sequence>
            <xs:element name="patient" type="tns:xPatient">
                <xs:annotation>
                    <xs:documentation>Личные данные пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="identifiers" nillable="true" type="tns:xIdentifier">
                <xs:annotation>
                    <xs:documentation>Документы, удостоверяющие личность</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contacts" nillable="true" type="tns:xContact">
                <xs:annotation>
                    <xs:documentation>Контактные данные</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addresses" nillable="true" type="tns:xAddress">
                <xs:annotation>
                    <xs:documentation>Адресные данные</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="benefits" type="tns:xBenefit">
                <xs:annotation>
                    <xs:documentation>Льготы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="workplaces" type="tns:xWorkplace">
                <xs:annotation>
                    <xs:documentation>Данные о месте работы пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="registrations" nillable="true"
                        type="tns:xRegistration">
                <xs:annotation>
                    <xs:documentation>Прикрепления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="citizenship" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Гражданство</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xPatient">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Внутренний идентификатор РМИС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="uid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Уникальный идентификатор пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="firstName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Имя пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="middleName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Отчество пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="lastName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Фамилия пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="gender" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор пола пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="birthDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата рождения пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="socialGroup" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Идентификатор социального статуса</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xAddress">
        <xs:annotation>
            <xs:documentation>Структура адреса</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор типа адреса</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="registerType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Вид регистрации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="entries" type="tns:xAddressEntry">
                <xs:annotation>
                    <xs:documentation>Адресные элементы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="house" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер дома</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="apartment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер квартиры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="valid" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Признак действительности</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="note" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Примечание</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="entryDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Данные на дату</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xAddressSearch">
        <xs:sequence>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
            <xs:element minOccurs="1" name="kladrCode" type="xs:string"/>
            <xs:element minOccurs="0" name="house" type="xs:string"/>
            <xs:element minOccurs="0" name="apartment" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!--<xs:simpleType name="xAddressType">
        <xs:annotation>
            <xs:documentation>Тип адреса</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LEGAL"/>
            <xs:enumeration value="POSTAL"/>
            <xs:enumeration value="ACTUAL"/>
            <xs:enumeration value="REGISTER"/>
            <xs:enumeration value="TEMPORARY"/>
            <xs:enumeration value="BIRTH"/>
            <xs:enumeration value="ORG_ACTUAL"/>
        </xs:restriction>
    </xs:simpleType>-->

    <xs:complexType name="xAddressEntry">
        <xs:annotation>
            <xs:documentation>Структура адресного элемента</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование адресного элемента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="level" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Уровень адресного элемента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Тип адресного элемента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="kladrCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Код элемента в КЛАДР</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="okatoCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Код ОКАТО</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xIdentifier">
        <xs:annotation>
            <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="code" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Индивидульный номер (СНИЛС, ЕНП).
                        Нужно заметить, что код и серия-номер - разные вещи. У СНИЛС нет серии и номера, у него есть
                        только код.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="codeType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Идентификатор вида номера(СНИЛС, ЕНП).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="codeIssueDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>
                        Дата выдачи кода (СНИЛС, ЕНП).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="series" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Серия документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="number" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор кода типа документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="issueDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="activationDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата начала действия документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="expiryDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата окончания документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="issueOrganization" type="tns:xOrganization">
                <xs:annotation>
                    <xs:documentation>Организация, выдавшая документ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xContact">
        <xs:annotation>
            <xs:documentation>Контактные данные</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Значение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Тип контактных данных</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="main" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Основной</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xError">
        <xs:annotation>
            <xs:documentation>Данные ошибки</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="code" type="tns:xErrorCode">
                <xs:annotation>
                    <xs:documentation>Код ошибки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="message" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Сообщение об ошибке</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sendPatientResult">
        <xs:annotation>
            <xs:documentation>Результат отправки пациента</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="error" type="tns:xError">
                <xs:annotation>
                    <xs:documentation>Сообщение об ошибке</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="patientUid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Уникальный идентификатор пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getPatientResult">
        <xs:annotation>
            <xs:documentation>Результат запроса данных о пациенте</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="error" type="tns:xError">
                <xs:annotation>
                    <xs:documentation>Сообщение об ошибке</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="patientCard" type="tns:xPatientCard">
                <xs:annotation>
                    <xs:documentation>Данные пациента</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="searchPatientResult">
        <xs:annotation>
            <xs:documentation>Результат поиска пациента</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="count" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Общее кол-во найденных пациентов</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="error" type="tns:xError">
                <xs:annotation>
                    <xs:documentation>Сообщение об ошибке</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="patient" type="tns:xPatient">
                <xs:annotation>
                    <xs:documentation>Список пациентов, удовлетворяющих условиям поиска</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="xErrorCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENERAL_ERROR"/>
            <xs:enumeration value="AUTHENTICATION_ERROR"/>
            <xs:enumeration value="IDENTIFIER_WRONG_SERIES_FORMAT"/>
            <xs:enumeration value="IDENTIFIER_WRONG_NUMBER_FORMAT"/>
            <xs:enumeration value="PATIENT_NOT_FOUND"/>
            <xs:enumeration value="ADDRESS_ERROR"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="xOrganization">
        <xs:annotation>
            <xs:documentation>Данные организации</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование организации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="codes" type="tns:xOrganizationCode">
                <xs:annotation>
                    <xs:documentation>Коды организации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="addresses" type="tns:xAddress">
                <xs:annotation>
                    <xs:documentation>Адреса организации</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xOrganizationCode">
        <xs:annotation>
            <xs:documentation>Код организации</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор типа кода</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="code" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Значение кода</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xWorkplace">
        <xs:annotation>
            <xs:documentation>Данные о месте работы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="organization" type="tns:xOrganization">
                <xs:annotation>
                    <xs:documentation>Данные организации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="department" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Отдел, в котором работает сотрудник</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="position" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Должность сотрудника</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="organizationType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор вида организации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="from_date" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата начала работы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="to_date" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата окончания работы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xBenefit">
        <xs:sequence>
            <xs:element minOccurs="0" name="createdDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата создания</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="disabilityDegree" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Степень утраты трудоспособности в %</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="disabilityPrimary" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Является ли утрата трудоспособности первичной</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="note" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Является ли утрата трудоспособности первичной</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="docIssuer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Название организации, выдавшей документ (о предоставлении льготы)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="docIssuerDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="docNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="docName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Название документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="toDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Начало действия льготы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="fromDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Конец действия льготы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diagnosis" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор заболевания в классификаторе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="disabilityType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор в классификаторе видов инвалидности</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="benefitType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор в классификаторе типов льгот</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="benefitDefinition" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор в классификаторе видов льгот</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xRegistration">
        <xs:sequence>
            <xs:element name="clinicCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Код клиники</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="regDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата регистрации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="typeId" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Тип регистрации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="stateId" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Статус регистрации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="addressType" type="tns:xDistrictAddressType">
                <xs:annotation>
                    <xs:documentation>Тип адреса</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element minOccurs="0" name="unregDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата открепления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="unregCause" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Причина открепления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="requestId" type="xs:string"/>
            <xs:element minOccurs="0" name="requestDate" type="xs:date"/>
            <xs:element minOccurs="0" name="addressDistrict" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор участка обслуживания по прикреплению</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="requestDistrict" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Идентификатор участка обслуживания по заявлению</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="xDistrictAddressType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REG"/>
            <xs:enumeration value="ACT"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>