src/main/resources/wsdl/districts-ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://atria.cz/lsd/integration/medical/district"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:pat="http://atria.cz/lsd/integration/medical/district/entity"
             xmlns:bi="http://atria.cz/common/base/info/build/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="DistrictsEndPointService"
             targetNamespace="http://atria.cz/lsd/integration/medical/district">
    <documentation>Сервис обмена информацией об участках прикрепления</documentation>
    <wsdl:types>
        <!--xmlns:tns="http://atria.cz/lsd/integration/medical/district"-->
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:tns="http://atria.cz/lsd/integration/medical/district"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:pat="http://atria.cz/lsd/integration/medical/district/entity"
                    xmlns:bi="http://atria.cz/common/base/info/build/"
                    >

            <xsd:import namespace="http://atria.cz/lsd/integration/medical/district/entity"
                        schemaLocation="../xsd/districts.xsd"/>

            <xsd:import namespace="http://atria.cz/common/base/info/build/"
                        schemaLocation="../xsd/buildInfo.xsd"/>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="searchDistrictsResponse">
        <wsdl:documentation>Ответ на запрос поиска участков, содержит найденные по критериям поиска участки прикрепления
        </wsdl:documentation>
        <wsdl:part element="pat:searchDistrictsResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSeparationRequest">
        <wsdl:documentation>Запрос разбивки</wsdl:documentation>
        <wsdl:part element="pat:getSeparationRequest" name="id">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDistrictResponse">
        <wsdl:documentation>Ответ на запрос с информацией об участке</wsdl:documentation>
        <wsdl:part element="pat:getDistrictResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionRequest">
        <wsdl:documentation>Запрос версии сервиса</wsdl:documentation>
        <wsdl:part element="bi:getVersionRequest" name="getVersionRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDistrictRequest">
        <wsdl:documentation>Запрос участка</wsdl:documentation>
        <wsdl:part element="pat:getDistrictRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSeparationResponse">
        <wsdl:documentation>Ответ на запрос с информацией о разбивке</wsdl:documentation>
        <wsdl:part element="pat:getSeparationResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:documentation>Ответ на запрос с данными о версии сервиса</wsdl:documentation>
        <wsdl:part element="bi:getVersionResponse" name="getVersionResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchDistrictsRequest">
        <wsdl:documentation>Запрос поиска участков прикрепления по заданным критериям</wsdl:documentation>
        <wsdl:part element="pat:searchDistrictsRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DistrictsPortType">
        <wsdl:operation name="getDistrict">
            <wsdl:input message="tns:getDistrictRequest" name="getDistrictRequest">
            </wsdl:input>
            <wsdl:output message="tns:getDistrictResponse" name="getDistrictResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSeparation">
            <wsdl:input message="tns:getSeparationRequest" name="getSeparationRequest">
            </wsdl:input>
            <wsdl:output message="tns:getSeparationResponse" name="getSeparationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchDistricts">
            <wsdl:input message="tns:searchDistrictsRequest" name="searchDistrictsRequest">
            </wsdl:input>
            <wsdl:output message="tns:searchDistrictsResponse" name="searchDistrictsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <wsdl:input message="tns:getVersionRequest" name="getVersionRequest">
            </wsdl:input>
            <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DistrictsEndPointBinding" type="tns:DistrictsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDistrict">
            <wsdl:documentation>Получение информации об участке прикрепления по его идентификатору</wsdl:documentation>
            <soap:operation soapAction=""/>
            <wsdl:input name="getDistrictRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <output name="getDistrictResponse">
                <soap:body use="literal"/>
            </output>
        </wsdl:operation>
        <operation name="getSeparation">
            <documentation>Получение информации о разбивке по её идентификатору</documentation>
            <soap:operation soapAction=""/>
            <input name="getSeparationRequest">
                <soap:body use="literal"/>
            </input>
            <output name="getSeparationResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <wsdl:operation name="searchDistricts">
            <wsdl:documentation>Поиск участков по заданным критериям</wsdl:documentation>
            <soap:operation soapAction=""/>
            <wsdl:input name="searchDistrictsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchDistrictsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <wsdl:documentation>Получение информации о версии сервиса</wsdl:documentation>
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DistrictsEndPointService">
        <wsdl:port binding="tns:DistrictsEndPointBinding" name="DistrictsEndPointPort">
            <soap:address location="https://med.tatar.ru/districts-ws/district"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>