src/main/resources/wsdl/hspRecords-ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type="text/xsl" href="/static/wsdl-viewer.xsl"?>
<wsdl:definitions 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:typens="http://atria.cz/hospitalRecords/types" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:bi="http://atria.cz/common/base/info/build/" 
    name="hospitalRecordsService" 
    targetNamespace="http://atria.cz/hospitalRecords/types">
    <wsdl:types>
        <xsd:schema 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
            xmlns:typens="http://atria.cz/hospitalRecords/types" 
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
            xmlns:bi="http://atria.cz/common/base/info/build/">
            <xsd:import 
                namespace="http://atria.cz/hospitalRecords/types" 
                schemaLocation="../xsd/hospitalRecords.xsd"/>
            <xsd:import 
                namespace="http://atria.cz/common/base/info/build/" 
                schemaLocation="../xsd/buildInfo.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="deleteHospitalRecordResponse">
        <wsdl:part element="typens:deleteHospitalRecordResponse" name="deleteHospitalRecordResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHospitalRecordByIdRequest">
        <wsdl:part element="typens:getHospitalRecordByIdRequest" name="getHospitalRecordByIdRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendHospitalRecordResponse">
        <wsdl:part element="typens:sendHospitalRecordResponse" name="sendHospitalRecordResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchHospitalRecordRequest">
        <wsdl:part element="typens:searchHospitalRecordRequest" name="searchHospitalRecordRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchHospitalRecordResponse">
        <wsdl:part element="typens:searchHospitalRecordResponse" name="searchHospitalRecordResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendHospitalRecordRequest">
        <wsdl:part element="typens:sendHospitalRecordRequest" name="sendHospitalRecordRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionRequest">
        <wsdl:part element="bi:getVersionRequest" name="getVersionRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteHospitalRecordRequest">
        <wsdl:part element="typens:deleteHospitalRecordRequest" name="deleteHospitalRecordRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHospitalRecordByIdResponse">
        <wsdl:part element="typens:getHospitalRecordByIdResponse" name="getHospitalRecordByIdResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part element="bi:getVersionResponse" name="getVersionResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HospitalRecordsPortType">
        <wsdl:documentation>
            SOAP Server description file
        </wsdl:documentation>
        <wsdl:operation name="sendHspRecord">
            <wsdl:documentation>
                Передача данных объекта учёта «ЗОГ» и получение его уникального идентификатора
            </wsdl:documentation>
            <wsdl:input message="typens:sendHospitalRecordRequest">
            </wsdl:input>
            <wsdl:output message="typens:sendHospitalRecordResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHspRecordById">
            <wsdl:documentation>
                Получение данных объекта учёта «ЗОГ» по ее уникальному идентификатору
            </wsdl:documentation>
            <wsdl:input message="typens:getHospitalRecordByIdRequest">
            </wsdl:input>
            <wsdl:output message="typens:getHospitalRecordByIdResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchHspRecord">
            <wsdl:documentation>
                Поиск объекта учёта «ЗОГ» по набору параметров
            </wsdl:documentation>
            <wsdl:input message="typens:searchHospitalRecordRequest">
            </wsdl:input>
            <wsdl:output message="typens:searchHospitalRecordResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteHspRecord">
            <wsdl:documentation>
                Удаление объекта учёта «ЗОГ» по набору параметров
            </wsdl:documentation>
            <wsdl:input message="typens:deleteHospitalRecordRequest">
            </wsdl:input>
            <wsdl:output message="typens:deleteHospitalRecordResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <wsdl:input message="typens:getVersionRequest" name="getVersionRequest">
            </wsdl:input>
            <wsdl:output message="typens:getVersionResponse" name="getVersionResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HospitalRecordsBinding" type="typens:HospitalRecordsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendHspRecord">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHspRecordById">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchHspRecord">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteHspRecord">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HospitalRecordService">
        <wsdl:port binding="typens:HospitalRecordsBinding" name="HospitalRecordsPort">
            <soap:address location="https://med.tatar.ru/hsp-records-ws/hspRecords"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>