src/main/resources/wsdl/patients-ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://cz.atria/patient/interchange/api/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:pat="http://cz.atria/patient/interchange"
                  xmlns:bi="http://atria.cz/common/base/info/build/"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  name="PatientInterchangeEndPointService"
                  targetNamespace="http://cz.atria/patient/interchange/api/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:tns="http://cz.atria/patient/interchange/api/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:pat="http://cz.atria/patient/interchange"
                    xmlns:bi="http://atria.cz/common/base/info/build/" xmlns="http://schemas.xmlsoap.org/wsdl/"
                    targetNamespace="http://cz.atria/patient/interchange/api/">

            <xsd:import namespace="http://cz.atria/patient/interchange" schemaLocation="../xsd/patients.xsd"/>

            <xsd:import namespace="http://atria.cz/common/base/info/build/" schemaLocation="../xsd/buildInfo.xsd"/>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="editPatientBenefitRequest">
        <wsdl:part element="pat:editPatientBenefitRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientBenefitResponse">
        <wsdl:part element="pat:editPatientBenefitResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientContactRequest">
        <wsdl:part element="pat:editPatientContactRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientRelationResponse">
        <wsdl:part element="pat:getPatientRelationResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientRequest">
        <wsdl:part element="pat:getPatientRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientBenefitRequest">
        <wsdl:part element="pat:getPatientBenefitRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientContactRequest">
        <wsdl:part element="pat:getPatientContactRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editDrugIntoleranceRequest">
        <wsdl:part element="pat:editDrugIntoleranceRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientBenefitResponse">
        <wsdl:part element="pat:getPatientBenefitResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientBenefitRequest">
        <wsdl:part element="pat:deletePatientBenefitRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientRegRequest">
        <wsdl:part element="pat:editPatientRegRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientRelationResponse">
        <wsdl:part element="pat:createPatientRelationResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPartCaseRequest">
        <wsdl:part element="pat:createPartCaseRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientBenefitsResponse">
        <wsdl:part element="pat:getPatientBenefitsResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part element="bi:getVersionResponse" name="getVersionResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientWorkplacesRequest">
        <wsdl:part element="pat:getPatientWorkplacesRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientWorkplacesResponse">
        <wsdl:part element="pat:getPatientWorkplacesResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPartCaseRequest">
        <wsdl:part element="pat:editPartCaseRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientPartCasesResponse">
        <wsdl:part element="pat:getPatientPartCasesResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientResponse">
        <wsdl:part element="pat:editPatientResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientPartCasesRequest">
        <wsdl:part element="pat:getPatientPartCasesRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientContactRequest">
        <wsdl:part element="pat:deletePatientContactRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientBenefitRequest">
        <wsdl:part element="pat:createPatientBenefitRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientRequest">
        <wsdl:part element="pat:createPatientRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientWorkplaceRequest">
        <wsdl:part element="pat:deletePatientWorkplaceRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createDrugIntoleranceRequest">
        <wsdl:part element="pat:createDrugIntoleranceRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientBenefitsRequest">
        <wsdl:part element="pat:getPatientBenefitsRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientContactsResponse">
        <wsdl:part element="pat:getPatientContactsResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientRegResponse">
        <wsdl:part element="pat:getPatientRegResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientRelationRequest">
        <wsdl:part element="pat:deletePatientRelationRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientBenefitResponse">
        <wsdl:part element="pat:createPatientBenefitResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientContactRequest">
        <wsdl:part element="pat:createPatientContactRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientRegResponse">
        <wsdl:part element="pat:createPatientRegResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientWorkplaceRequest">
        <wsdl:part element="pat:editPatientWorkplaceRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePartCaseRequest">
        <wsdl:part element="pat:deletePartCaseRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDrugIntoleranceRequest">
        <wsdl:part element="pat:getDrugIntoleranceRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientRegRequest">
        <wsdl:part element="pat:getPatientRegRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionRequest">
        <wsdl:part element="bi:getVersionRequest" name="getVersionRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientResponse">
        <wsdl:part element="pat:deletePatientResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientWorkplaceResponse">
        <wsdl:part element="pat:deletePatientWorkplaceResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientWorkplaceRequest">
        <wsdl:part element="pat:createPatientWorkplaceRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchPatientRequest">
        <wsdl:part element="pat:searchPatientRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientRegRequest">
        <wsdl:part element="pat:deletePatientRegRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientContactResponse">
        <wsdl:part element="pat:deletePatientContactResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientWorkplaceRequest">
        <wsdl:part element="pat:getPatientWorkplaceRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientRegsRequest">
        <wsdl:part element="pat:getPatientRegsRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createDrugIntoleranceResponse">
        <wsdl:part element="pat:createDrugIntoleranceResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientRequest">
        <wsdl:part element="pat:deletePatientRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPartCaseResponse">
        <wsdl:part element="pat:editPartCaseResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDrugIntoleranceResponse">
        <wsdl:part element="pat:getDrugIntoleranceResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientContactResponse">
        <wsdl:part element="pat:getPatientContactResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientRelationRequest">
        <wsdl:part element="pat:getPatientRelationRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientRegRequest">
        <wsdl:part element="pat:createPatientRegRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientRegResponse">
        <wsdl:part element="pat:deletePatientRegResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientWorkplaceResponse">
        <wsdl:part element="pat:createPatientWorkplaceResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientRelationsResponse">
        <wsdl:part element="pat:getPatientRelationsResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientRegResponse">
        <wsdl:part element="pat:editPatientRegResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPartCaseRequest">
        <wsdl:part element="pat:getPartCaseRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDrugIntolerancesResponse">
        <wsdl:part element="pat:getDrugIntolerancesResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientWorkplaceResponse">
        <wsdl:part element="pat:getPatientWorkplaceResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchPatientResponse">
        <wsdl:part element="pat:searchPatientResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientRelationRequest">
        <wsdl:part element="pat:createPatientRelationRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientRelationResponse">
        <wsdl:part element="pat:editPatientRelationResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPartCaseResponse">
        <wsdl:part element="pat:createPartCaseResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDrugIntolerancesRequest">
        <wsdl:part element="pat:getDrugIntolerancesRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientRelationsRequest">
        <wsdl:part element="pat:getPatientRelationsRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientRequest">
        <wsdl:part element="pat:editPatientRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteDrugIntoleranceResponse">
        <wsdl:part element="pat:deleteDrugIntoleranceResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientContactsRequest">
        <wsdl:part element="pat:getPatientContactsRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientRelationResponse">
        <wsdl:part element="pat:deletePatientRelationResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientRegsResponse">
        <wsdl:part element="pat:getPatientRegsResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editDrugIntoleranceResponse">
        <wsdl:part element="pat:editDrugIntoleranceResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientWorkplaceResponse">
        <wsdl:part element="pat:editPatientWorkplaceResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePartCaseResponse">
        <wsdl:part element="pat:deletePartCaseResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deletePatientBenefitResponse">
        <wsdl:part element="pat:deletePatientBenefitResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientResponse">
        <wsdl:part element="pat:getPatientResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPartCaseResponse">
        <wsdl:part element="pat:getPartCaseResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientContactResponse">
        <wsdl:part element="pat:editPatientContactResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPatientRelationRequest">
        <wsdl:part element="pat:editPatientRelationRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientContactResponse">
        <wsdl:part element="pat:createPatientContactResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createPatientResponse">
        <wsdl:part element="pat:createPatientResponse" name="response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteDrugIntoleranceRequest">
        <wsdl:part element="pat:deleteDrugIntoleranceRequest" name="request">
        </wsdl:part>
    </wsdl:message>
    <portType name="PatientInterchangeEndPoint">
        <wsdl:operation name="createPatient">
            <wsdl:input message="tns:createPatientRequest" name="createPatientRequest">
            </wsdl:input>
            <wsdl:output message="tns:createPatientResponse" name="createPatientResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatient">
            <wsdl:input message="tns:editPatientRequest" name="editPatientRequest">
            </wsdl:input>
            <wsdl:output message="tns:editPatientResponse" name="editPatientResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatient">
            <wsdl:input message="tns:deletePatientRequest" name="deletePatientRequest">
            </wsdl:input>
            <wsdl:output message="tns:deletePatientResponse" name="deletePatientResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatient">
            <wsdl:input message="tns:getPatientRequest" name="getPatientRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientResponse" name="getPatientResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchPatient">
            <wsdl:input message="tns:searchPatientRequest" name="searchPatientRequest">
            </wsdl:input>
            <wsdl:output message="tns:searchPatientResponse" name="searchPatientResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientPartCases">
            <wsdl:input message="tns:getPatientPartCasesRequest" name="getPatientPartCasesRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientPartCasesResponse" name="getPatientPartCasesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPartCase">
            <wsdl:input message="tns:getPartCaseRequest" name="getPartCaseRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPartCaseResponse" name="getPartCaseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPartCase">
            <wsdl:input message="tns:createPartCaseRequest" name="createPartCaseRequest">
            </wsdl:input>
            <wsdl:output message="tns:createPartCaseResponse" name="createPartCaseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPartCase">
            <wsdl:input message="tns:editPartCaseRequest" name="editPartCaseRequest">
            </wsdl:input>
            <wsdl:output message="tns:editPartCaseResponse" name="editPartCaseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePartCase">
            <wsdl:input message="tns:deletePartCaseRequest" name="deletePartCaseRequest">
            </wsdl:input>
            <wsdl:output message="tns:deletePartCaseResponse" name="deletePartCaseResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientRegs">
            <wsdl:input message="tns:getPatientRegsRequest" name="getPatientRegsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientRegsResponse" name="getPatientRegsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientReg">
            <wsdl:input message="tns:getPatientRegRequest" name="getPatientRegRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientRegResponse" name="getPatientRegResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientReg">
            <wsdl:input message="tns:createPatientRegRequest" name="createPatientRegRequest">
            </wsdl:input>
            <wsdl:output message="tns:createPatientRegResponse" name="createPatientRegResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientReg">
            <wsdl:input message="tns:editPatientRegRequest" name="editPatientRegRequest">
            </wsdl:input>
            <wsdl:output message="tns:editPatientRegResponse" name="editPatientRegResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientReg">
            <wsdl:input message="tns:deletePatientRegRequest" name="deletePatientRegRequest">
            </wsdl:input>
            <wsdl:output message="tns:deletePatientRegResponse" name="deletePatientRegResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientBenefits">
            <wsdl:input message="tns:getPatientBenefitsRequest" name="getPatientBenefitsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientBenefitsResponse" name="getPatientBenefitsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientBenefit">
            <wsdl:input message="tns:getPatientBenefitRequest" name="getPatientBenefitRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientBenefitResponse" name="getPatientBenefitResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientBenefit">
            <wsdl:input message="tns:createPatientBenefitRequest" name="createPatientBenefitRequest">
            </wsdl:input>
            <wsdl:output message="tns:createPatientBenefitResponse" name="createPatientBenefitResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientBenefit">
            <wsdl:input message="tns:editPatientBenefitRequest" name="editPatientBenefitRequest">
            </wsdl:input>
            <wsdl:output message="tns:editPatientBenefitResponse" name="editPatientBenefitResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientBenefit">
            <wsdl:input message="tns:deletePatientBenefitRequest" name="deletePatientBenefitRequest">
            </wsdl:input>
            <wsdl:output message="tns:deletePatientBenefitResponse" name="deletePatientBenefitResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDrugIntolerances">
            <wsdl:input message="tns:getDrugIntolerancesRequest" name="getDrugIntolerancesRequest">
            </wsdl:input>
            <wsdl:output message="tns:getDrugIntolerancesResponse" name="getDrugIntolerancesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDrugIntolerance">
            <wsdl:input message="tns:getDrugIntoleranceRequest" name="getDrugIntoleranceRequest">
            </wsdl:input>
            <wsdl:output message="tns:getDrugIntoleranceResponse" name="getDrugIntoleranceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDrugIntolerance">
            <wsdl:input message="tns:createDrugIntoleranceRequest" name="createDrugIntoleranceRequest">
            </wsdl:input>
            <wsdl:output message="tns:createDrugIntoleranceResponse" name="createDrugIntoleranceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editDrugIntolerance">
            <wsdl:input message="tns:editDrugIntoleranceRequest" name="editDrugIntoleranceRequest">
            </wsdl:input>
            <wsdl:output message="tns:editDrugIntoleranceResponse" name="editDrugIntoleranceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteDrugIntolerance">
            <wsdl:input message="tns:deleteDrugIntoleranceRequest" name="deleteDrugIntoleranceRequest">
            </wsdl:input>
            <wsdl:output message="tns:deleteDrugIntoleranceResponse" name="deleteDrugIntoleranceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientContacts">
            <wsdl:input message="tns:getPatientContactsRequest" name="getPatientContactsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientContactsResponse" name="getPatientContactsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientContact">
            <wsdl:input message="tns:getPatientContactRequest" name="getPatientContactRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientContactResponse" name="getPatientContactResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientContact">
            <wsdl:input message="tns:createPatientContactRequest" name="createPatientContactRequest">
            </wsdl:input>
            <wsdl:output message="tns:createPatientContactResponse" name="createPatientContactResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientContact">
            <wsdl:input message="tns:editPatientContactRequest" name="editPatientContactRequest">
            </wsdl:input>
            <wsdl:output message="tns:editPatientContactResponse" name="editPatientContactResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientContact">
            <wsdl:input message="tns:deletePatientContactRequest" name="deletePatientContactRequest">
            </wsdl:input>
            <wsdl:output message="tns:deletePatientContactResponse" name="deletePatientContactResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientWorkplaces">
            <wsdl:input message="tns:getPatientWorkplacesRequest" name="getPatientWorkplacesRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientWorkplacesResponse" name="getPatientWorkplacesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientWorkplace">
            <wsdl:input message="tns:getPatientWorkplaceRequest" name="getPatientWorkplaceRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientWorkplaceResponse" name="getPatientWorkplaceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientWorkplace">
            <wsdl:input message="tns:createPatientWorkplaceRequest" name="createPatientWorkplaceRequest">
            </wsdl:input>
            <wsdl:output message="tns:createPatientWorkplaceResponse" name="createPatientWorkplaceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientWorkplace">
            <wsdl:input message="tns:editPatientWorkplaceRequest" name="editPatientWorkplaceRequest">
            </wsdl:input>
            <wsdl:output message="tns:editPatientWorkplaceResponse" name="editPatientWorkplaceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientWorkplace">
            <wsdl:input message="tns:deletePatientWorkplaceRequest" name="deletePatientWorkplaceRequest">
            </wsdl:input>
            <wsdl:output message="tns:deletePatientWorkplaceResponse" name="deletePatientWorkplaceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientRelations">
            <wsdl:input message="tns:getPatientRelationsRequest" name="getPatientRelationsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientRelationsResponse" name="getPatientRelationsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientRelation">
            <wsdl:input message="tns:getPatientRelationRequest" name="getPatientRelationRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPatientRelationResponse" name="getPatientRelationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientRelation">
            <wsdl:input message="tns:createPatientRelationRequest" name="createPatientRelationRequest">
            </wsdl:input>
            <wsdl:output message="tns:createPatientRelationResponse" name="createPatientRelationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientRelation">
            <wsdl:input message="tns:editPatientRelationRequest" name="editPatientRelationRequest">
            </wsdl:input>
            <wsdl:output message="tns:editPatientRelationResponse" name="editPatientRelationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientRelation">
            <wsdl:input message="tns:deletePatientRelationRequest" name="deletePatientRelationRequest">
            </wsdl:input>
            <wsdl:output message="tns:deletePatientRelationResponse" name="deletePatientRelationResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <wsdl:input message="tns:getVersionRequest" name="getVersionRequest">
            </wsdl:input>
            <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
            </wsdl:output>
        </wsdl:operation>
    </portType>
    <binding name="PatientInterchangeEndPointBinding" type="tns:PatientInterchangeEndPoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createPatient">
            <soap:operation soapAction=""/>
            <wsdl:input name="createPatientRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPatientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatient">
            <soap:operation soapAction=""/>
            <wsdl:input name="editPatientRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editPatientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatient">
            <soap:operation soapAction=""/>
            <wsdl:input name="deletePatientRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deletePatientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatient">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchPatient">
            <soap:operation soapAction=""/>
            <wsdl:input name="searchPatientRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchPatientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientPartCases">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientPartCasesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientPartCasesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPartCase">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPartCaseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartCaseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPartCase">
            <soap:operation soapAction=""/>
            <wsdl:input name="createPartCaseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPartCaseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPartCase">
            <soap:operation soapAction=""/>
            <wsdl:input name="editPartCaseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editPartCaseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePartCase">
            <soap:operation soapAction=""/>
            <wsdl:input name="deletePartCaseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deletePartCaseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientRegs">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientRegsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientRegsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientReg">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientRegRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientRegResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientReg">
            <soap:operation soapAction=""/>
            <wsdl:input name="createPatientRegRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPatientRegResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientReg">
            <soap:operation soapAction=""/>
            <wsdl:input name="editPatientRegRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editPatientRegResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientReg">
            <soap:operation soapAction=""/>
            <wsdl:input name="deletePatientRegRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deletePatientRegResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientBenefits">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientBenefitsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientBenefitsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientBenefit">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientBenefitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientBenefitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientBenefit">
            <soap:operation soapAction=""/>
            <wsdl:input name="createPatientBenefitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPatientBenefitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientBenefit">
            <soap:operation soapAction=""/>
            <wsdl:input name="editPatientBenefitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editPatientBenefitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientBenefit">
            <soap:operation soapAction=""/>
            <wsdl:input name="deletePatientBenefitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deletePatientBenefitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDrugIntolerances">
            <soap:operation soapAction=""/>
            <wsdl:input name="getDrugIntolerancesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDrugIntolerancesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDrugIntolerance">
            <soap:operation soapAction=""/>
            <wsdl:input name="getDrugIntoleranceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDrugIntoleranceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createDrugIntolerance">
            <soap:operation soapAction=""/>
            <wsdl:input name="createDrugIntoleranceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createDrugIntoleranceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editDrugIntolerance">
            <soap:operation soapAction=""/>
            <wsdl:input name="editDrugIntoleranceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editDrugIntoleranceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteDrugIntolerance">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteDrugIntoleranceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteDrugIntoleranceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientContacts">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientContactsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientContactsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientContact">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientContactRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientContactResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientContact">
            <soap:operation soapAction=""/>
            <wsdl:input name="createPatientContactRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPatientContactResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientContact">
            <soap:operation soapAction=""/>
            <wsdl:input name="editPatientContactRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editPatientContactResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientContact">
            <soap:operation soapAction=""/>
            <wsdl:input name="deletePatientContactRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deletePatientContactResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientWorkplaces">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientWorkplacesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientWorkplacesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientWorkplace">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientWorkplaceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientWorkplaceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientWorkplace">
            <soap:operation soapAction=""/>
            <wsdl:input name="createPatientWorkplaceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPatientWorkplaceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientWorkplace">
            <soap:operation soapAction=""/>
            <wsdl:input name="editPatientWorkplaceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editPatientWorkplaceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientWorkplace">
            <soap:operation soapAction=""/>
            <wsdl:input name="deletePatientWorkplaceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deletePatientWorkplaceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientRelations">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientRelationsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientRelationsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatientRelation">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPatientRelationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPatientRelationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPatientRelation">
            <soap:operation soapAction=""/>
            <wsdl:input name="createPatientRelationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPatientRelationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editPatientRelation">
            <soap:operation soapAction=""/>
            <wsdl:input name="editPatientRelationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editPatientRelationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePatientRelation">
            <soap:operation soapAction=""/>
            <wsdl:input name="deletePatientRelationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deletePatientRelationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <wsdl:service name="PatientInterchangeEndPointService">
        <port binding="tns:PatientInterchangeEndPointBinding" name="PatientInterchangeEndPointPort">
            <soap:address location="https://med.tatar.ru/patients-ws/patient"/>
        </port>
    </wsdl:service>
</wsdl:definitions>