src/main/resources/wsdl/patients-smart-ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://atria.cz/medical/integration/patient/api/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:bi="http://atria.cz/common/base/info/build/"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  name="PatientInterchangeEndPointService"
                  targetNamespace="http://atria.cz/medical/integration/patient/api/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:tns="http://atria.cz/medical/integration/patient/api/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:bi="http://atria.cz/common/base/info/build/"
                    xmlns="http://schemas.xmlsoap.org/wsdl/">

            <xsd:import namespace="http://atria.cz/common/base/info/build/" schemaLocation="../xsd/buildInfo.xsd"/>

        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:tns="http://atria.cz/medical/integration/patient/api/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:bi="http://atria.cz/common/base/info/build/"
                    xmlns="http://schemas.xmlsoap.org/wsdl/">

            <xsd:import namespace="http://atria.cz/medical/integration/patient/" schemaLocation="../xsd/patients.xsd"/>

        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://atria.cz/medical/integration/patient/api/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:bi="http://atria.cz/common/base/info/build/" xmlns="http://schemas.xmlsoap.org/wsdl/">

            <xsd:import namespace="http://atria.cz/medical/integration/patient/api/"
                        schemaLocation="../xsd/patient_service.xsd"/>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sendPatient">
        <wsdl:part element="tns:sendPatient" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatientResponse">
        <wsdl:part element="tns:getPatientResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchPatient">
        <wsdl:part element="tns:searchPatient" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchPatientResponse">
        <wsdl:part element="tns:searchPatientResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part element="bi:getVersionResponse" name="getVersionResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPatient">
        <wsdl:part element="tns:getPatient" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendPatientResponse">
        <wsdl:part element="tns:sendPatientResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVersionRequest">
        <wsdl:part element="bi:getVersionRequest" name="getVersionRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PatientInterchangeEndPoint">
        <wsdl:operation name="sendPatient">
            <wsdl:input message="tns:sendPatient">
            </wsdl:input>
            <wsdl:output message="tns:sendPatientResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatient">
            <wsdl:input message="tns:getPatient">
            </wsdl:input>
            <wsdl:output message="tns:getPatientResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchPatient">
            <wsdl:input message="tns:searchPatient">
            </wsdl:input>
            <wsdl:output message="tns:searchPatientResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <wsdl:input message="tns:getVersionRequest" name="getVersionRequest">
            </wsdl:input>
            <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PatientInterchangeEndPointPortBinding" type="tns:PatientInterchangeEndPoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendPatient">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPatient">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchPatient">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PatientInterchangeEndPointService">
        <wsdl:port binding="tns:PatientInterchangeEndPointPortBinding" name="PatientInterchangeEndPointPort">
            <soap:address location="https://med.tatar.ru/patients-smart-ws/patient"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>